# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml

# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS Files
.DS_Store
Thumbs.db
